@import "../../assets/styles/mixins";

.Questionnaire {
  position: relative;
  height: calc(100vh - 43px);
  overflow: hidden;

  &__Intro {
    min-height: calc(100vh);
    padding: 0 30px;
    color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: left;
    word-break: break-all;
    text-align: center;

    @include md {
      background-attachment: inherit;
      background-position: right;
    }
  }

  .Intro {

    &__Name,
    &__Description {
      text-align: center;
    }

    &__BtnStart {
      position: static;
      width: 100%;
      padding: 10px;
      color: white;
      background: black;
      border: none;
      border-radius: 4px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

      &:hover {
        cursor: pointer;
      }

      @include md {
        position: static;
        top: 20%;
        left: 25%;
        width: 100px;
      }
    }
  }

  &__BtnPrev,
  &__BtnNext {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-top: -17.5px;
    background: none;
    color: #000000;
    border: none;
    border-radius: 50%;
    padding: 0;
    font-size: 30px;
    outline: none;
    cursor: pointer;
    transition: 250ms;

    &:hover {
      background: #fff;
      color: #ffffff;
    }
  }

  &__BtnPrev {
    left: 10px;

    @include md {
      left: 35px;
    }
  }

  &__BtnNext {
    right: 10px;

    @include md {
      right: 35px;
    }
  }

  &__BtnFinish {
    position: absolute;
    bottom: 150px;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    padding: 10px;
    color: white;
    background: rgb(28, 184, 65);
    border: none;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    &:hover {
      cursor: pointer;
      background: rgb(5, 184, 25);
    }
  }

  &__FinishText {
    font-size: 25px;
    color: #fff;
    text-align: center;
  }
}
