.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: white;

  &__Link {
    text-decoration: none;
  }

  .Link {

    &__Image {
      width: 100px;
    }
  }
}
