@import "../../assets/styles/mixins";

.Question,
.Question--IsActive {
  height: calc(100vh - 78px);
  padding: 35px 50px 0 50px;

  @include md {
    height: calc(100vh - 173px);
    padding: 130px 170px 0 170px;
  }

  &__Body {
    position: relative;
  }

  .Body {

    &__Headline {
      font-size: 26px;
      color: #fff;
      word-break: break-word;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

      span {
        color: #8B0000;
      }
    }

    &__Answers {
      display: inline-flex;
      flex-direction: column;
      margin-top: 20px;
    }
  }

  .Answers {

    &__TextArea,
    &__Text {
      padding: 6px;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 3px #ddd;
      border-radius: 4px;
      transition: .35s ease-in-out;

      &:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
      }
    }

    &__TextArea {
      width: 98%;
      height: 200px;
      resize: none;
    }

    &__Text {
      width: 250px;
    }
  }
}

.Question {
  display: none;
}

.Question--IsActive {
  display: block;
}
