@import "./assets/styles/main";

html {
  min-height: 100%;
}

body {
  height: calc(100vh);
  margin: 0;
  overflow: hidden;
  background: yellowgreen;  /* fallback for old browsers */
  font-family: 'Krub', sans-serif;
}
