@import "./variables";
@import "./colors";
@import "./mixins";
@import "./animation";

.Radio {
  display: block;
  position: relative;
  padding-left: 30px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  margin-bottom: 10px;
}

.Radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.RadioIndicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 0 solid #000000;
}

.RadioControl .RadioIndicator {
  border-radius: 50%;
}

.Radio:hover input ~ .RadioIndicator,
.Radio input:focus ~ .RadioIndicator {
  background: #cccccc;
}

.Radio input:checked ~ .RadioIndicator {
  background: #80bdff;
}

.Radio input:checked:focus ~ .RadioIndicator {
  background: #80bdff;
}

.RadioIndicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.Radio input:checked ~ .RadioIndicator:after {
  display: block;
}

.RadioControl .RadioIndicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
}
